DB_PASSWORD=
JWT_SECRET=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
BIR_API_KEY=abcde12345abcde12345
BIR_API_ENDPOINT=https://wyszukiwarkaregontest.stat.gov.pl/wsBIR/UslugaBIRzewnPubl.svc
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
